body{
    color: black;
    text-align: center;
}


.jumbotron {
    margin:10px;
   background-image: url(https://github.com/jlgithub453/Final-Project-Soda-Tax/blob/master/soda_image.jpg?raw=true
);
   background-size: 585px 200px;
   color: gainsboro;
   text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
   text-align: center;
   box-shadow: 5px 8px lightslategray;
}

/* h1 {
    font-size: 50px;
    font-weight: bold;
} */



.well{
    color: white;
}

#pie {
    width: 100%;
    height: 100%;
}

#gauge {
    width: 100%;
    height: 100%;
}

#bubble {
    text-align: center;
    width: 100%;
    height: 100%;
}
